.idea/code_problems_python.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/stepik/programming_on_python/3.4/output.txt
/stepik/programming_on_python/3.4/dataset_3363_2.txt
/stepik/programming_on_python/3.4/dataset_3363_3.txt
/stepik/programming_on_python/3.4/output_2.txt
/stepik/programming_on_python/3.4/output_1.txt
/stepik/programming_on_python/3.4/dataset_3363_4.txt
/stepik/programming_on_python/3.6/dataset_3378_2.txt
/stepik/programming_on_python/3.6/dataset_3378_3.txt
/stepik/programming_on_python/3.6/result.txt
/stepik/programming_on_python/3.7/dataset_3380_5.txt
/rosalind/input/
/rosalind/output/
